
    <span>Welcome</span> 
   
    <button
        mat-button
        routerLink="/profile"
        color="primary"
    >
    User Profile
    </button>
    <button
        mat-button
        routerLink="/favorites"
        color="primary"
    >
    Favorite Movies
    </button>
    <button
        mat-button
        color="primary"
        routerLink="/movies"
    >
    Back to Movie list
    </button>
    <button
        mat-button
        color="primary"
        (click)="signOut()"
    >
    Log out
    </button>
