.top-nav{
    
    margin-left: 25px;
    margin-right:25px;
  }
  
  .welcome {
    color: white;
  }
  
  .button-nav{
    font-weight: 400;
    margin: 7px;
    padding: 5px;
  }
  
  .mat-toolbar {
    background-color: #375869;
    padding: 30pxs;
    
  
  }