<mat-toolbar>
    <span class='welcome'>Welcome</span> 
   
    <button
        class='button-nav'
        mat-raised-button color="primary"
        routerLink="/profile"
        color="primary"
    >
    User Profile
    </button>
    <button
        class='button-nav'
        mat-raised-button color="primary"
        routerLink="/favorites"
        color="primary"
    >
    Favorite Movies
    </button>
    <button
        class='button-nav'
        mat-raised-button color="primary"
        routerLink="/movies"
    >
    Back to Movie list
    </button>
    <button
        class='button-nav'
        mat-raised-button color="warn"
        (click)="signOut()"
    >
    Log out
    </button>
</mat-toolbar>