* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: rgb(41, 41, 43);
  
}

.navbar {
margin: 75px;
}

.title{
  text-align: center;
  font-weight: bold;
}

.user-profile{
  
  padding: 100px; 
  border-top: 60px;
  padding-top: 30px;
  ;
  
}
  .account-btn {
    text-align: center;
    
  }
  
  .mat-card {
    width: 350px;
    margin-top: 15px;
    margin-left: 930px;
    background-color: white;
    
  }
  .mat-card-header {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .mat-card-content {
    display: flex;
    justify-content: space-around;
  }