mat-typography {
  background-color: rgb(41, 41, 43)
}

body {
  background-color: rgb(41, 41, 43);
  width: 100vw;
  min-height: 100vh;
  height: 2400px; 
}

.mat-card {
  min-width:300px;
  max-width: 325px;
  margin: 10px;
  }
  
  .favorite-button {
    float: right;
    cursor: pointer;
  }
  
  .favorite-button-active {
    float: right;
    color: red;
    cursor: pointer;
  }
  
  .mat-card-header {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mat-card-content {
    display: flex;
    justify-content: space-around;
  }
  
  .movies-image {
    width: 325px; 
    height: 550px;
    text-align: center;

  }
  
  .movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .multi-buttons{
    padding: 30px;
  }
